* {
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.5rem;
}

.navbar {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    margin: 0 5%;
}

ul li {
    text-decoration: none;
    text-align: center;
}

/* .barra-lateral {
    display: none;
} */


.container-profile {
    margin: 10% 10% 0;
}

.img-div {
    padding: 2em;
}

.img {
    max-width: 100%;    
}
