* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tammudu 2', cursive;
    width: 100%;
    line-height: 1.5em;
}

nav {
    background-color: #d50000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

ul li {
    text-decoration: none;
    text-align: center;
}

/* .barra-lateral {
    display: none;
} */


.container-profile {
    margin: 10% 10% 0;
}

.img-div {
    padding: 2em;
}

.img {
    max-width: 100%;    
}

footer {
    width: 100%;
    bottom: 0px;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 2rem 1.5em;
    background-color: black;
    color: white;
    font-size: 1.10rem;
}

footer li {
    padding: 0.5em;
}

.facebook-icon::before {
    
}